* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0 !important;
}

ul {
    padding: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

p {
    margin: 0 !important
}

.a-r {
    text-align: right
}

html {
    overflow-x: hidden;
}

/* header .container::after {
    content: "";
    clear: both;
    display: table;
} */

header .container {
    padding-top: 15px;
}

header .row {
    justify-content: center;
    align-items: center;
    position: relative;
}

header .row>a {
    position: absolute;
    left: 0;
    z-index: 99;
}

header .navbar a {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #545454;
    margin-right: 40px;
}

.right-navbar {
    position: absolute;
    right: 0;
}

.right-navbar a {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #545454;
}

.right-navbar a.btn {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ff884d;
    padding: 13px 18px;
    outline: none;
    border: 1px solid #ff884d;
    margin-left: 40px;
}

.right-navbar a.btn:hover {
    color: #ffffff;
    background: #ff884d;
}

.menu {
    position: absolute;
    top: 15px;
    right: 0;
    display: none;
    z-index: 99;
}

.navbar2 {
    /* position: absolute !important; */
    margin-top: 60px;
    background: #fff;
    z-index: 2;
    display: none;
}

.navbar2 ul {
    text-align: center
}

.navbar2 li {
    margin-bottom: 20px;
    opacity: 0.67;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #2e3831;
    transition: .3s
}

.navbar2 ul li:hover {
    opacity: unset !important;
    cursor: pointer;
}

.ill-header {
    padding-top: 120px;
}

.header {
    display: flex;
    align-items: center
}

.ill-features .ill-right {
    flex-flow: row-reverse;
}

.content {
    flex: 0 460px;
}

.ill {
    flex: auto;
}

/* .ill img {
    width: 100%;
    height: auto;
} */

.content h1 {
    /* width: 505px;
    height: 144px; */
    font-size: 42px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #626a74;
}

.button-group {
    margin-top: 40px;
    margin-bottom: 40px
}

.button-group .get-started-btn {
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 19px 26px;
    background: #ff884d;
    border-radius: 5px;
    margin-right: 15px;
}

.button-group .get-started-btn:hover {
    opacity: .9;
}

.button-group .watch-demo-btn {
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff884d;
    padding: 19px 21px;
    border: 1px solid #ff884d;
    border-radius: 5px;
}

.content>p {
    /* width: 400px;
    height: 54px; */
    font-size: 20px;
    font-weight: 300;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #626a74;
}

p.responsive-hide {
    display: none
}

.cards {
    margin-top: 300px;
    padding-bottom: 150px;
    background: #fffdfa
}

.cards .row>div {
    padding: 0 15px 0 15px;
    margin-top: -150px;
}

.cards .features {
    margin-top: 150px;
}

.cards .row div.features-item {
    border-radius: 5px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 40px 30px 31px 30px;
}

.features-item img.icon {
    margin-bottom: 20px;
}

.cards p.title {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.2px;
    color: #626a74;
    margin-bottom: 20px !important;
}

.cards p.description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.1px;
    color: #626a74;
    margin-bottom: 21px !important;
}

.features {
    display: flex;
    align-items: center
}

.learn-more {
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ff884d;
    display: flex;
    align-items: center
}

.learn-more:hover {
    color: #ff884d
}

.learn-more:hover img {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.learn-more img {
    width: 18px;
    margin-left: 13px;
    transition: .3s
}

.ill-features.first {
    padding-top: 125px;
    padding-bottom: 101px
}

.ill-features.second {
    background: #fffdfa;
    padding: 150px 0;
}

.ill-features.third {
    padding-top: 100px;
    padding-bottom: 50px;
}

.ill-features.fourth {
    padding-top: 50px;
    padding-bottom: 100px;
}

.content h2 {
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.2px;
    color: #626a74;
    margin-bottom: 30px !important;
}

.features .content p {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.94;
    letter-spacing: 0.1px;
    color: #626a74;
    margin-bottom: 31px !important;
}

.ill-right.features .ill {
    text-align: right;
}

.special-title {
    font-size: 16px !important;
    font-weight: 900 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: 0.1px !important;
    color: #626a74 !important;
    margin-bottom: 20px !important;
}

img.ps {
    margin-left: 10px;
}

.orange {
    background: #ff884d;
    padding: 100px 0
}

.orange .row {
    align-items: center
}

.orange h3 {
    width: 439px;
    height: 74px;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.2px;
    color: #ffffff;
}

.orange-btn-group a {
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.btn-white {
    padding-right: 31px;
    padding-left: 31px;
    color: rgb(255, 136, 77);
    background: #fff;
}

.btn-white:hover {
    opacity: .9;
    color: rgba(255, 136, 77, .9);
}

.btn-outline-white {
    padding-right: 28px;
    padding-left: 28px;
    border: 1px solid #fff;
    background: #ff884d;
    color: #fff;
    margin-left: 15px;
}

.btn-outline-white:hover {
    color: #fff
}

footer {
    padding: 100px 0 60px 0;
}

footer li.header-list {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: -0.4px;
    color: #454545;
    margin-top: 40px;
}

.col-xl-2 li.header-list:nth-child(1) {
    margin-top: 0;
}

footer li a {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: -0.4px;
    color: #a9a9a9;
}

@media screen and (max-width: 1199px) {
    .header .ill img {
        max-width: 100%;
    }

    .header .button-group .get-started-btn {
        font-size: 14px;
    }

    .header .button-group .watch-demo-btn {
        font-size: 14px
    }

    .image-group img {
        height: 50px;
    }

    .ill-right .content {
        padding-right: 30px
    }

    .ill-left .content {
        padding-left: 30px
    }

    .cards p.title {
        font-size: 19px
    }
}

@media screen and (max-width: 1119px) {}

@media screen and (max-width: 1090px) {
    .ill img {
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        display: none;
    }

    header .row>a {
        top: 15px;
        left: 0;
    }

    .right-navbar {
        display: none
    }

    .menu {
        display: block
    }

    .header {
        display: block
    }

    p.responsive-hide {
        display: block;
        margin-top: 30px !important;
        text-align: center;
        font-size: 14px;
        line-height: 1.43
    }

    p.responsive-show {
        display: none
    }

    .content {
        padding-right: unset !important;
    }

    .content h1 {
        text-align: center
    }

    .button-group {
        text-align: center
    }

    .col-12.col-md-12.col-lg-6.col-xl-6 h3 {
        width: unset;
        height: unset;
        text-align: center;
        margin-bottom: 30px;
    }

    .col-12.col-md-12.col-lg-6.col-xl-6 {
        text-align: center
    }

    .features {
        display: block
    }

    .features .ill {
        text-align: center !important;
        margin-bottom: 30px;
    }

    .content {
        text-align: center
    }

    .ill-left .content {
        padding-left: unset;
    }

    .features .learn-more {
        justify-content: center
    }

    img.icon {
        width: 50px
    }

    .cards p.title {
        font-size: 18px;
    }

    .cards p.description {
        font-size: 14px
    }

    .cards .learn-more {
        font-size: 14px;
    }

    .cards .learn-more img {
        width: 15px
    }

    .cards .row div.features-item {
        padding: 40px 50px 31px 30px;
    }
}

@media screen and (max-width: 767px) {
    .col-12.col-md-4.col-xl-4 img {
        margin-bottom: 30px;
    }

    .cards .row div.features-item {
        padding: 40px 30px 31px 30px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 575px) {
    header .row>a {
        left: 15px;
    }

    header .row>a img {
        width: 90%
    }

    .menu {
        right: 15px;
    }

    .content h1 {
        font-size: 34px
    }

    .orange h3 {
        font-size: 24px
    }

    .navbar2 li {
        font-size: 16px
    }

    .orange-btn-group a {
        font-size: 14px
    }

    .learn-more {
        font-size: 14px
    }

    .learn-more img {
        width: 16px
    }

    .features .content p {
        font-size: 14px
    }

    .content h2 {
        font-size: 24px
    }
}

@media screen and (max-width: 452px) {
    .orange-btn-group a {
        display: block;
        margin: 10px 0
    }

    .btn-outline-white {
        margin-left: unset;
    }
}


@media screen and (max-width: 401px) {
    .button-group a {
        display: block;
        margin: 10px 0
    }

    .button-group .get-started-btn {
        margin-right: unset;
    }
}

@media screen and (max-width: 366px) {
    .image-group img {
        height: 40px;
    }
}